body {
	/* padding-top: 60px; */
	/* padding-bottom: 40px; */
	/* background:#FCFDFB; */
	/* font-family: 'Lato', sans-serif; */
	/* background:#F0F0F0;*/
	background-color:white;
	font-family:Roboto,sans-serif;
}

a i {
	color: black;
	text-decoration: none;
}

.modal-backdrop {
	opacity: .3;
}

.table {
	margin-bottom: 8px;
}

.watermark {
	opacity: 0.2;
	filter: alpha(opacity = 20); /* For IE8 and earlier */
}

.watermark:hover {
	opacity: 1;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
	text-decoration: none;
}

.icon-caret-right, .icon-caret-down {
	font-size:18px;
}

a:active {
	outline: none;
	-moz-outline-style: none;
}

a {
	outline: none;
	-moz-outline-style: none;
}

.navbar {
	font: 16px 'Vegur-Bold',Arial,sans-serif;
}

.navbar-brand {
	/* color: #eeeeee; */
	/* font-weight:500; */
	/* text-shadow: 0px 1px 1px #333; */
	/*font-family: 'Sura', sans-serif; */
	border:2px solid white;
	padding:4px; 
	color:white;
}

.navbar a, navbar-brand {
 	/* color:#638CA6; */
 	color:white;
}

.navbar .navbar-brand > img {
	padding-bottom:4px;
}

.navbar {
	background-color:#1e1e1e;
}

.navbar .nav .active a {
	background-color:#eeeeee;
	color:#999999;
	border-left-color: #cccccc;
	border-bottom-color: #cccccc;
}

.navbar .nav .active a:hover {
	background-color:#cccccc;
	color:#ffffff;
	border-left-color: #999999;
	border-bottom-color: #999999;
}

.navbar a {
	text-decoration: none;
}

.navbar .nav > li > a {
	text-shadow:none;
}

.navbar .nav > li > a:hover {
	background-color:#cccccc;
}

.navbar-text {
	color: #ffffff;
	/* text-shadow: 0px 1px 1px #333; */
}

.navbar-text a {
	/* font-weight: bold; */
}

.orange {
	color:#F4A460;
}

.red {
	color:#CC6666;
}

.green {
	color:#009933;
}

.grey {
	color:#cccccc;
}

#right-column-header, #left-column-header {
	/* border-bottom: 1px solid #dddddd; */
}

#page-header, #page-header a, #page-header a i {
	color: #aaaaaa;
}

.icon-small {
	font-size: 12px;
}

/*
.action-panel .btn, .action-panel a i {
	background-image:none;
	background-color:transparent;
	border-style:none;
	box-shadow:none;
	color:#cccccc;
}

.action-panel .btn:hover {
	color:black;
}
*/

.large-text {
	font-size: 18px;
	/* font-weight: bold; */
}

.no-margins {
	margin: 0 0 0 0;
}

.word-wrap {
	word-break: break-all;
	word-wrap: break-word;
}

div.manifest-item:hover {
	background-color:#f5f5f5;
}

div.repository-item:hover {
	background-color:#f5f5f5;
}

a.inline-edit {
	border-bottom: none;
}

.navbar-default {
	background-color:#31708e;
	/* background-color:#17252a; */
	/* background-color:#1C2B4B;
	border-color:#1C2B4B; */
	/* background-color:#286090;
	border-color:#286090; */
	/*background-color:white; */
	/* background-color:#638CA6; */
	background-image: none;
	/* opacity: 0.8; */
	/* filter: alpha(opacity = 70); /* For IE8 and earlier */
}

.jumbotron {
	color:white;
	background-color:#31708e;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	/* background:linear-gradient(to right, rgba(8,47,79,1) 0%,rgba(2,119,168,1) 100%); */
	/* background-color: #3B5998; */
	/* background-color: #293E6A; */
	/* background-color: #7ACCC8; */
	/* background-color: #4AAAA5; */
	/* background-color: #92B06A;  */
}

.footer {
	background:#31708e none repeat scroll 0 0;
}

.feature {
	align:center;
}

.feature i {
	color:#FC6C26;
	font-size:32px;
}

.feature-body {
	font-size:16px;
	padding-top:12px;
	color:#565454;
}

.feature-heading {
	font-weight: 600;
}

.feature-set {
	padding-top:24px;
}
